
nav {
    background: #92400E;
    padding: 12px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFBEB;
    font-weight: bold;
    font-size: 15px;
}

nav .logo img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #FFFBEB;
    text-decoration: none;
    font-size: 13px;
}

nav ul li a:hover {
    color: #22C55E;
}
.menu {
    display: flex;
}
.menu-toggle {
    display: none;
    font-size: 22px;
    color: var(--background);
    cursor: pointer;
}
.close-btn {
    display: none;
}
.menu.active ~ .menu-toggle {
    display: none;
}

.menu.active .close-btn {
    display: block;
}

@media (max-width: 768px) {

       .menu {
        position: fixed;
        top: -300px; 
        left: 0;
        width: 100%;
        background: var(--primary);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        transition: 0.3s;
        z-index: 999;
    }

    .menu.active {
        top: 60px;
    }

    .menu-toggle {
        display: block;
        z-index: 1000;
    }

}